::ng-deep .loginComponent{
    display: flex;
    justify-content: center;
}

.signupContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 35%;
    padding: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    background-color: #6b75823f;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.inputBox{
    border-radius: 7px;
    border: none;
    padding: 5px;
}

.submitBtn{
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: #2476f1;
    color: white;
}

.submitBtn:disabled{
    background-color: grey;
    color: #ccc;
    cursor: not-allowed;
}

.errMsg{
    color: #e4a3a3;
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.75rem;
}

.errAndBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

