.dataContainer {
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 20px;
  width: 100px;
}

.dataItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 10px;
}

.highlighted {
  background-color: rgb(65, 124, 65); 
  font-weight: bold;
  border-radius: 5px;
}