::ng-deep .loginComponent{
    display: flex;
    justify-content: center;
}

.loginContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 15px;
    background-color: #486581;
    box-shadow: 0px 2px 2px 2px black;
    border-radius: 15px;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.inputBox{
    border-radius: 7px;
    border: none;
    padding: 5px;
}

.submitBtn{
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: #2476f1;
    color: white;
}

.submitBtn:disabled{
    background-color: grey;
    color: #ccc;
    cursor: not-allowed;
}

.errMsg{
    color: #e4a3a3;
    margin: 0;
    margin-bottom: 5px;
}

.errAndBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}