.mainContainer{
  display: flex;
  justify-content: center;
}

.room{
  padding: 10px;
  font-size: 1.5rem;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.roomsBtn{
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff24;
}

.joinBtn{
  padding: 10px;
  width: 70px;
  border-radius: 5px;
  background: #947351;
  border: #6f5131 solid;
  color: white;
  font-weight: bold;
}

.backToChat{
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: solid #2476f1;
  background: #2476f1;
  color: white;
}

.backTochatContainer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.leaveBtn{
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: solid #2476f1;
  background: #2476f1;
  color: white;
}

.custom-toast-class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameContainer{
    display: flex;
    justify-content: center;
}

::ng-deep .whiteRotate{
  transform: rotate(180deg);
}

.msg{
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.jail{
  width: 120px;
  background-color: #231a0e;
  text-align: center; 
  font-size: 2rem;
  color: #b38d5b66;
  border: 10px solid #8b6914;
  border-radius: 10px;
}

.board {
  width: 610px;
  height: 480px;
  position: relative;
  background-color: #deb887;
  box-sizing: border-box;
  border: 10px solid #8b6914;
  border-radius: 10px;
  padding: 0px;
}

.diceBtn{
  position: absolute;
  left: 47%;
  top: 47%;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #231a0e;
  color: white;
  cursor: pointer;
}

.diceBtn:disabled{
  background-color: grey;
  color: #ccc;
  cursor: not-allowed;
}

.dices{
  position: absolute;
  left: 25%;
  top: 42%;
  z-index: 1;
  font-weight: bold;
  font-size: 1.5rem;
}

.left-bin {
  position: relative;
  left: 15px;
  top: 0px;
}

.right-bin {
  position: relative;
  left: 330px;
  top: -389px;
}

.arrow-down {
  width: 0px; 
  height: 0px; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 195px solid #755833;
  border-bottom: 0px solid;
  display: inline;
  float: left;
  position: relative;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: 70px
}

.arrow-up {
  width: 0px; 
  height: 0px; 
  border-top: 0px solid;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent ;
  border-bottom: 195px solid #755833;
  display: inline;
  float: left;
  position: relative;
}

::ng-deep .highlighted {
  box-shadow: 0px 0px 10px 5px green;
}

.arrow-up.odd {
  border-bottom: 195px solid #044;}

.arrow-down.even {
  border-top: 195px solid #044;}

.middle-bar {
  width: 20px;
  height: 450px;
  padding: 5px;
  background-color: #8b6914;
  position: absolute;
  left: 280px;
  top: 0px;
}

::ng-deep .wPiece {
  width: 36px;
  height: 36px;
  background-color: #fff;
  top: 0;
  left: 1px;
  z-index: 1;
  border-radius: 18px;
  display: block;
}

::ng-deep .bPiece {
  width: 36px;
  height: 36px;
  background-color: #000000;
  top: 0;
  left: 1px;
  z-index: 1;
  border-radius: 18px;
  display: block;
}


.bearing-off{
    background-color: #513c08;
    border: 10px solid #8b6914;
    border-radius: 10px;
    width: 100px;
    height: 460px;
}

.wBearing-off{
    border-bottom: 5px solid #8b6914;
    height: 50%;
    position: relative;
    z-index: 2;
    overflow-y: auto;
}

.bBearing-off{
    border-top: 5px solid #8b6914;
    height: 50%;
    overflow-y: auto;
}

.pawns{
    width: fit-content;
    position: absolute;
    top: -192px;
    z-index: 1;
    left: -18px;
}

.dPawns1{
    width: fit-content;
    position: absolute;
    top: 156px;
    z-index: 1;
    left: -18px;
}

.dPawns2{
    width: fit-content;
    position: absolute;
    top: 120px;
    z-index: 1;
    left: -18px;
}
.dPawns3{
    width: fit-content;
    position: absolute;
    top: 84px;
    z-index: 1;
    left: -18px;
}
.dPawns4{
    width: fit-content;
    position: absolute;
    top: 48px;
    z-index: 1;
    left: -18px;
}
.dPawns5{
    width: fit-content;
    position: absolute;
    top: 12px;
    z-index: 1;
    left: -18px;
}

.leaveBtn{
  z-index: 2;
  position: relative;
}