<div class="room">Join Room1: <button class="joinBtn" (click)="joinRoom('Room1')">Join</button></div>

<div class="gameContainer">
 <div class = "board">
  <div class="left-bin">
    <div class="top-row">
      <div id="13" class="arrow-down odd">
        <div></div>
      </div>
      <div id="14" class="arrow-down even">
            <div></div>
      </div>
      <div id="15" class="arrow-down odd"><div></div></div>
      <div id="16" class="arrow-down even"><div></div></div>
      <div id="17" class="arrow-down odd"><div></div></div>
      <div id="18"  class="arrow-down even"><div></div></div>
    </div>

    <div class="bottom-row"> 
      <div id="12" class="arrow-up odd"><div></div></div>
      <div id="11" class="arrow-up even"><div></div></div>
      <div id="10" class="arrow-up odd"><div></div></div>
      <div id="9" class="arrow-up even"><div></div></div>
      <div id="8" class="arrow-up odd"><div></div></div>
      <div id="7" class="arrow-up even"><div></div></div>
    </div>
  </div> 
  
  <div class = "middle-bar"></div>
  
  <div class = "right-bin">
    <div class="top-row">
      <div id="19" class="arrow-down odd"><div></div></div>
      <div id="20" class="arrow-down even"><div></div></div>
      <div id="21" class="arrow-down odd"><div></div></div>
      <div id="22" class="arrow-down even"><div></div></div>
      <div id="23" class="arrow-down odd"><div></div></div>
      <div id="24" class="arrow-down even"><div></div></div>
    </div>

    <div class="bottom-row"> 
      <div id="6" class="arrow-up odd"><div></div></div>
      <div id="5" class="arrow-up even"><div></div></div>
      <div id="4" class="arrow-up odd"><div></div></div>
      <div id="3" class="arrow-up even"><div></div></div>
      <div id="2" class="arrow-up odd"><div></div></div>
      <div id="1" class="arrow-up even"><div></div></div>
      </div>
  </div>
 </div>
 <div class="bearing-off">
    <div class="wBearing-off"></div>
    <div class="bBearing-off"></div>
 </div>
</div>